<%- include("partials/header")-%>

    <h1>Compose</h1>

    <div class="container">
        <form action="/compose" method="POST">
            <div class="row">
                <div class="col-12 composeRows">

                    <span class="input-group-text" id="basic-addon1">Title</span>
                    <input type="text" class="form-control" name="postTitle" placeholder="Write a perfect title!"
                        aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="row">
                <div class="col-12 composeRows">
                    <span class="input-group-text">With textarea</span>
                    <textarea class="form-control" name="postBody" placeholder="And a beatiful post!" aria-label="With textarea"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-1 composeRows">
                    <button class="btn btn-primary" type="submit">publish</button>
                </div>
            </div>

        </form>
    </div>




    <%- include("partials/footer")-%>